*.pdb
DistributedSharedInterfaces/bin/
DistributedSharedInterfaces/obj/
DistributedServerInterfaces/obj/
DistributedClientInterfaces/bin/
DistributedServerInterfaces/bin/
DistributedClientInterfaces/obj/
